/*热评产品区*/
.page-body-hot {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    padding: 0;
}
.page-body-hot-container {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
/*热评产品标题*/
.hot-title {
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    text-align: left;
}
/*热评产品展示*/
.hot-products {
    height: 420px;
    width: 100%;
    margin: 10px auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.hot-products li {
    position: relative;
    width: 24%;
    height: 100%;
    background: #ffffff;
    transition: box-shadow .3s ease;
    transition: transform .3s ease;
}
.hot-products li:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    transform: translate3d(0, -3px, 0);
}
/*热评产品图片*/
.hot-product-img img {
    width: 100%;
}
/*热评产品功效*/
.hot-product-use {
    position: absolute;
    top: 230px;
    left: 0;
    margin: 10px auto 0;
    padding: 0 10px;
}
.hot-product-use a {
    font-size: 14px;
    color: #333333;
    text-decoration: none;
}
.hot-product-author {
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-size: 10px;
    color: #b0b0b0;
}
/*产品名称和价格*/
.hot-product-info {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.hot-product-info > div:nth-child(2) {
    margin: 0 8px;
    color: #b0b0b0;
}
.hot-product-info > div:nth-child(3) {
    color: #ff6700;
}

/*视频区域*/
.page-body-video {
    width: 100%;
    height: 310px;
    margin: 50px auto;
}
.page-body-video-container {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
/*视频区域标题*/
.video-title {
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}
.video-title-more {
    font-size: 18px;
    color: #333333;
    text-decoration: none;
    transition: color .3s ease;
}
.video-title-more::after {
    content: "\f0a9";
    margin-left: 5px;
    font-family: 'FontAwesome';
    font-style: normal;
    text-rendering: auto;
    color: #b0b0b0;
}
.video-title-more:hover {
    color: #ff6700;
}
/*视频区域列表*/
.video-list {
    height: 280px;
    width: 100%;
    margin: 10px auto 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.video-list li {
    position: relative;
    width: 24%;
    height: 100%;
    background: #ffffff;
    transition: box-shadow .3s ease;
    transition: transform .3s ease;
}
.video-list li:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    transform: translate3d(0, -3px, 0);
}
/*视频图片*/
.video-img img {
    width: 100%;
}
/*视频标志*/
.video-icon {
    position: absolute;
    top: 48%;
    left: 7%;
    color: #ffffff;
}
.video-icon:hover {
    color: #ff6700;
}
/*视频信息*/
.video-li-info {
    margin: 20px auto;
    text-align: center;
}
.video-li-name a {
    font-size: 14px;
    color: #333333;
    text-decoration: none;
    transition: color .2s ease;
}
.video-li-name a:hover {
    color: #ff6700;
}
.video-li-description {
    margin: 10px auto;
    font-size: 10px;
    color: #b0b0b0;
}

/*具体内容区域*/
.page-body-content {
    width: 100%;
    height: 480px;
    margin: 50px auto 0;
}
.page-body-content-container {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
/*内容栏标题*/
.content-title {
    margin: 0;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    text-align: left;
}
.content-list {
    margin: 0;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: space-between;
}
/*四个栏目*/
.content-box {
    position: relative;
    width: 24%;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
    transition: box-shadow .3s ease;
    transition: transform .3s ease;
}
.content-box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    transform: translate3d(0, -3px, 0);
}
.content-box:nth-child(1) {
    border-top: 1px solid #ffac13;
}
.content-box:nth-child(1) .content-box-title {
    color: #ffac13;
}
.content-box:nth-child(2) {
    border-top: 1px solid #83c44e;
}
.content-box:nth-child(2) .content-box-title {
    color: #83c44e;
}
.content-box:nth-child(3) {
    border-top: 1px solid #e53935;
}
.content-box:nth-child(3) .content-box-title {
    color: #e53935;
}
.content-box:nth-child(4) {
    border-top: 1px solid #2196f3;
}
.content-box:nth-child(4) .content-box-title {
    color: #2196f3;
}
.content-box-title {
    position: absolute;
    top: 10%;
    height: 20px;
    line-height: 20px;
    width: 100%;
    font-size: 16px;
    text-align: center;
}
/*每个栏目里切换箭头*/
.content-left-array, .content-right-array {
    position: absolute;
    z-index: 10;    
    top: 50%;
    width: 20px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    background: #b0b0b0;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    opacity: 0;
    transition: opacity .2s ease;
    transition: background .2s ease;
}
.content-left-array {
    left: 0;
}
.content-right-array {
    right: 0;
}
.content-box:hover .content-left-array, .content-box:hover .content-right-array {
    opacity: .4;
}
.content-left-array:hover, .content-right-array:hover { 
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
}
/*产品列表*/
.content-container0, .content-container1 {
    position: absolute;
    top: 20%;
    left: 0;/*296px*/
    height: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    transition: left .3s ease;
}
.content-container0 {
    width: 888px;
}
.content-container1 {
    width: 1184px;
}
.content-container0 li, .content-container1 li {
    width: 296px;
    height: 100%;
    background: #ffffff;
}
.content-container1 a, .content-container0 a {
    display: block;
    text-decoration: none;
    text-align: center;
}
/*产品名称、信息和图片*/
.content-name, .content-info {
    margin: 0;
    padding: 0;
}
.content-name a {
    height: 25px;
    width: 100%;
    line-height: 25px;
    color: #333333;
    font-size: 20px;
}
.content-info a {
    height: auto;
    width: 100%;
    padding: 5px 40px;
    color: #b0b0b0;
    font-size: 10px;
}
.content-price a {
    width: 100%;
    color: #333333;
    font-size: 14px;
}
.content-img {
    width: 180px;
    height: 140px;
    margin: 0 auto;
}
/*浏览更多栏*/
.content-more-info {
    margin: 0;
    padding: 0 40px;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}
/*浏览更多按钮*/
.content-more-button {
    width: 160px;
    height: 30px;
    line-height: 30px;
    margin: 20px auto;
    font-size: 14px;
    text-align: center;
    color: #ff6700;
    border: 1px solid #ff6700;
    transition: color .3s ease;
    transition: background .3s ease;
}
.content-more-button:hover {
    background: #ff6700;
    color: #ffffff;
    cursor: pointer;
}
/*页面切换点*/
.content-points {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin: 0 -100px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.content-points li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #b0b0b0;
    transition: background .2s ease;
}
.content-points li:hover {
    background: #ff6700;
}
/*正在显示页面对应的点*/
#points-on {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #ff6700;
    box-sizing: content-box;
}