/*小米明星产品区*/
.page-body-stars {
    width: 1226px;
    height: 400px;
    margin: 40px auto;
}
/*产品区头部显示栏*/
.stars-summary-head {
    display: flex;
    justify-content: space-between;
}
.summary-word, .summary-more {
    width: auto;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}
.summary-word {
    font-weight: 500;
}
/*左右切换箭头容器*/
.summary-more {
    display: flex;
    justify-content: space-between;
}
.more-left-array, .more-right-array {
    width: 40px;
    height: 100%;
    font-size: 22px;
    text-align: center;
    border: 1px solid #e0e0e0;
    color: #e0e0e0;
}
.more-left-array:hover, .more-right-array:hover {
    cursor: default;
}
.more-left-array1, .more-right-array1 {
    width: 40px;
    height: 100%;
    font-size: 22px;
    text-align: center;
    border: 1px solid #e0e0e0;
    color: #b0b0b0;
    transition: color .3s solid;
}
.more-left-array1:hover, .more-right-array1:hover {
    cursor: default;
    color: #ff6700;
}
/*产品切换栏容器*/
.stars-summary-body {
    position: relative;
    top: 30px;
    left: 0;
    width: 1226px;
    height: 340px;
    overflow: hidden;
}
/*产品列表*/
.pics-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 2460px;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    transition: left .5s ease;
}
.pics-container li {
    width: 234px;
    height: 100%;
    background: #fafafa;
    text-align: center;
}
/*产品顶部边框为彩虹色*/
.pics-container li:nth-child(1) {
    border-top: 1px solid #ffac13;
}
.pics-container li:nth-child(2) {
    border-top: 1px solid #83c44e;
}
.pics-container li:nth-child(3) {
    border-top: 1px solid #2196f3;
}
.pics-container li:nth-child(4) {
    border-top: 1px solid #e53935;
}
.pics-container li:nth-child(5) {
    border-top: 1px solid #00c0a5;
}
.pics-container li:nth-child(6) {
    border-top: 1px solid #ffac13;
}
.pics-container li:nth-child(7) {
    border-top: 1px solid #83c44e;
}
.pics-container li:nth-child(8) {
    border-top: 1px solid #2196f3;
}
.pics-container li:nth-child(9) {
    border-top: 1px solid #e53935;
}
.pics-container li:nth-child(10) {
    border-top: 1px solid #00c0a5;
}
/*单个产品的图片*/
.pics-img {
    display: block;
    width: 100%;
    height: 160px;
    margin: 30px auto;
}
/*单个产品的名称*/
.pics-name {
    margin: 0 auto;
    padding: 0;
}
.pics-name a {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
}
/*单个产品的细节和价格*/
.pics-detail {
    margin: 5px auto 15px;
    color: #b0b0b0;
    font-size: 12px;
}
.pics-price {
    margin: 0 auto;
    color: #ff6700;
    font-size: 14px;
}